servidorCentral/target/classes/META-INF/persistence.xml
servidorCentral/target/classes/META-INF/maven/com.serverCentral/servidorCentral/pom.properties
servidorCentral/src/main/resources/META-INF/persistence.xml
servidorCentral/target/classes/META-INF/maven/com.serverCentral/servidorCentral/pom.properties
servidorCentral/target/classes/META-INF/maven/com.serverCentral/servidorCentral/pom.properties
servidorCentral/src/main/java/com/presentacion/utilidades/tmp.java
.metadata/*
/.metadata/
servidor_central/.classpath
.project
servidor_central/.project
servidor_central/.project
servidor_web/.classpath
*.xml
*.prefs
servidor_central/.settings/org.eclipse.jdt.core.prefs
*.prefs
servidor_web/.settings/org.eclipse.jdt.core.prefs
*.component
servidor_web/.settings/.jsdtscope
*.container
*.name
.gitignore