<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>

<%@ page import="java.util.List" %>
<%@ page import="turismouy.svcentral.datatypes.dataActividad" %>
<%@ page import="turismouy.svcentral.datatypes.dataDepartamento" %>
<%@ page import="turismouy.svcentral.datatypes.dataCategoria" %>
<%@ page import="turismouy.svcentral.datatypes.dataSalida" %>
<%@ page import="turismouy.svcentral.interfaces.IActividadController" %>
<%@ page import="turismouy.svcentral.interfaces.ISalidaController" %>
<%@ page import="turismouy.svcentral.interfaces.IDepartamentoController" %>
<%@ page import="turismouy.svcentral.interfaces.ICategoriaController" %>

<%@ include file="./utils/head.jsp" %>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TursistaUY</title>

  <!-- LINKS DE CSS -->
  <link rel="stylesheet" href="./src/css/homeMulti.css" />

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind&family=Montserrat&display=swap"
    rel="stylesheet" />

  <!-- MATERIALIZE -->
  <link rel="stylesheet" href="src/css/materialize.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="nav-wrapper navbar__wrap">
      <div class="navbar__leftwrap">
        <div class="brand-logo">
          <img src="src/img/kombi.png" alt="Imagen de una combi" class="navbar__logo--img" />
          <a href="index.html">TurismoUY</a>
        </div>
      </div>
      <ul class="right aside_trigger">
        <li>
          <a href="#" data-target="slide-out" class="sidenav-trigger navbar__sideopen"><i
              class="material-icons">arrow_forward</i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- SIDENAV -->
  <ul id="slide-out" class="sidenav home_side sidenav-fixed">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="src/img/wavesidebg.svg" />
        </div>
        <a href="./miCuenta.html"><img class="circle" src="src/img/avatar1.png" /></a>
        <a href="./miCuenta.html"><span class="white-text name">John Doe</span></a>
        <a href="./miCuenta.html"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>

    <li><a href="./home.html">Inicio</a></li>
    <li><a href="./homeSalidas.html">Salidas</a></li>
    <li><a href="./homeActividad.html">Actividades</a></li>
    <li><a href="./homePaquete.html">Paquetes</a></li>
        <li><a href="./homeUsuarios.html">Usuarios</a></li>
    <div class="divider"></div>
    <li><a href="./misSalidas.html">Mis Salidas</a></li>
    <li><a href="./misActividades.html">Mis Actividades</a></li>
    <li><a href="./misPaquetes.html">Mis Paquetes</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Cuenta</a></li>
    <li>
      <a  href="./miCuenta.html" class="waves-effect"><i class="material-icons">person</i>Mi Cuenta</a>
    </li>
    <li>
      <a class="waves-effect" href="./index.html"><i class="material-icons">exit_to_app</i>Cerrar Sesion</a>
    </li>
  </ul>

  <!-- MAIN -->
  <div class="main">
    <div class="mainWrap">
      <div class="mainWrap__pagination">
        <ul class="pagination">
          <li class="active"><a href="./homeSalidas">Salidas</a></li>
          <li class="waves-effect"><a href="./homeActividades">Actividades</a></li>
          <li class="waves-effect"><a href="./homePaquetes">Paquetes</a></li>
        </ul>
      </div>

      <!-- page -->
      <section class="page">
        <div class="page__texto">
          <h1 class="page__title">Salidas</h1>
          <p class="page__p">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui
            incidunt numquam tempora dolorem vel, facere necessitatibus ullam
            ratione laudantium in, eaque assumenda omnis. Cum vitae eaque hic
            minus corrupti tenetur?
          </p>
        </div>
        <div class="page__filter">
          <h3 class="page__filter--title">Filtros:</h3>
          <ul class="pagination page__filter--list">
            <li>
              <div class="input-field col s12">
                <select id="categorias" >
                  <option value="" disabled selected>No seleccionado</option>
                  <% List<dataCategoria> categorias = (List<dataCategoria>) request.getAttribute("categorias"); %>
                  <%
                  int value = 1;
                  if (categorias != null) {
                      if (!categorias.isEmpty()) {
                          for (dataCategoria categoria : categorias) {
                  %>
                              <option value="<%= categoria.getNombre() %>"><%= value %> - <%= categoria.getNombre() %></option>
                  <%
                              value++;
                          }
                      }
                  }
                  %>
                </select>
                <label>Categorias</label>
              </div>
            </li>
            <li>
              <div class="input-field col s12">
                <select id="departamentos">
                  <option value="" disabled selected>No seleccionado</option>
                  <% List<dataDepartamento> departamentos = (List<dataDepartamento>) request.getAttribute("departamentos"); %>
                  <%
                  int value2 = 1;
                  if (departamentos != null) {
                      if (!departamentos.isEmpty()) {
                          for (dataDepartamento departamento : departamentos) {
                  %>
                              <option value="<%= departamento.getNombre() %>"> <%= value2 %> - <%= departamento.getNombre() %></option>
                  <%
                              value2++;
                          }
                      }
                  }
                  %>
                </select>
                <label>Departamentos</label>
              </div>
            </li>

            <li>
              <div class="input-field col s12">
                <select id="actividades">
                  <option value="" disabled selected>No seleccionado</option>
                  <% List<dataActividad> listActividades = (List<dataActividad>) request.getAttribute("actividades"); %>
                  <%
                  int value3 = 1;
                  if (listActividades != null) {
                      if (!listActividades.isEmpty()) {
                          for (dataActividad act : listActividades) {
                  %>
                              <option value="<%= act.getNombre() %>"> <%= value3 %> - <%= act.getNombre() %></option>
                  <%
                              value3++;
                          }
                      }
                  }
                  %>
                </select>
                <label>Actividades</label>
              </div>
            </li>
          </ul>
        </div>

        <div class="page__wrap" id="salidas">
          <!-- JS -->
        </div>

      </section>
    </div>
  </div>

  <!-- MODALS -->
  <div id="modalInscribirse" class="modal">
    <div class="modal-content">
      <h4>Inscripcion</h4>
      <div class="divider"></div>
      <form action="#" class="modal__inscribirse">
        <p>Ingresa la cantidad de personas a inscribirse:</p>
        <div class="input-field col s6 modal__inscribirse--ninput">
          <input id="numero" type="number" class="validate" />
          <label for="numero">Ingresa un número</label>
        </div>
        <p>Forma de pago:</p>
        <p>
          <label>
            <input id="formaPago" name="formaPago" value="general" type="radio" checked />
            <span>General</span>
          </label>
        </p>
        <p>
          <label>
            <input id="formaPago" name="formaPago" value="paquete" type="radio" />
            <span>Paquete</span>
          </label>
        </p>
        <button class="btn waves-effect waves-light modal__inscribirse--submit" type="submit" name="action">
          Enviar
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>

  <div id="modalConsulta" class="modal">
    <div class="modal-content">
      <h4>Consulta de Salida</h4>
      <form>
        <div class="input-field">
          <input id="modalNombre" type="text" class="validate" disabled value=" " />
          <label for="nombre" class="active">Nombre</label>
        </div>
        <div class="input-field">
          <input id="cant" type="text" class="validate" disabled value=" " />
          <label for="cant" class="active">Cantidad de lugares</label>
        </div>
        <div class="input-field">
          <input id="dateSalida" type="date" class="validate" disabled value=" " />
          <label for="dateSalida" class="active">Fecha de salida</label>
        </div>
        <div class="input-field">
          <input id="dateAlta" type="date" class="validate" disabled value=" " />
          <label for="dateAlta" class="active">Fecha de alta</label>
        </div>
        <div class="input-field">
          <input id="lugarSalida" type="text" class="validate" disabled value=" " />
          <label for="lugarSalida" class="active">Lugar de Salida</label>
        </div>
        <div class="divider"></div>
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Actividades</h4>
          </li>
          <li class="collection-item">Actividad1</li>
          <li class="collection-item">Actividad2</li>
          <li class="collection-item">Actividad3</li>
          <li class="collection-item">Actividad4</li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>


  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer__container">
      <img src="./src/img/kombi.png" alt="" class="footer_img" />
      <div class="footer__text">
        <h3 class="footer__text--title">TurismoUY</h3>
        <p class="footer__text--p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          nisi ex, tristique et suscipit et, posuere sit amet erat.
        </p>
      </div>
    </div>
    <div class="footer__p">TengoFulbo &copy; | 2023 - 2023</div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        var modal = M.Modal.init(document.getElementById("consultaModal"));
    });

    // Agrega un evento de clic al botón "Consultar" (delegación de eventos)
    document.addEventListener("click", function (event) {
        if (event.target.classList.contains("abrirModalBtn")) {
            // Obtiene los datos de la actividad
            var objeto = event.target.getAttribute("dataSalida");
            var dtSalida= JSON.parse(objeto)
            console.log("->  " + objeto);
            console.log("->  " + dtSalida);
            console.log("nombre ->  " + dtSalida.nombre);
            // var SalidaDescripcion = event.target.getAttribute("data-desc");
        
            // Llena el modal con los datos de la Salida
            document.getElementById("modalNombre").value = dtSalida.nombre;
            document.getElementById("dateAlta").value = dtSalida.fechaAlta;
            document.getElementById("dateSalida").value = dtSalida.fechaSalida;
            document.getElementById("cant").value = dtSalida.capacidad;
            document.getElementById("lugarSalida").value = dtSalida.lugarSalida;
            // document.getElementById("")
            // document.getElementById("modalActividadDescripcion").textContent = actividadDescripcion;
        
            // Abre el modal
            var modal = M.Modal.init(document.getElementById("modalConsulta"));
            modal.open();
        }

        
    });

    $(document).ready(function () {
        var departamento = document.getElementById("departamentos").value;
        var categoria = document.getElementById("categorias").value;
        var actividad = document.getElementById("actividades").value;
        actualizarActividades(categoria, departamento, actividad);

        $('#actividades').on('click', '.abrir-modal-btn', function () {
            console.log("Click");
        });

        $('#salidas').on('click', '.abrirRegistrar', function () {
            // Obtiene los datos de la salida
            var dataSalida = JSON.parse($(this).attr('dataSalida'));
            
            // Llena el modal de registro con los datos de la salida
            $('#numero').val(''); // Limpia el campo de número (si es necesario)
            $('input[name="formaPago"][value="general"]').prop('checked', true); // Marca la opción general (si es necesario)
            
            // Abre el modal de registro
            var modalRegistro = M.Modal.init(document.getElementById("modalInscribirse"));
            modalRegistro.open();
        });
    });

    $("#categorias").change(function () {
        var departamento = document.getElementById("departamentos").value;
        var categoria = document.getElementById("categorias").value;
        var actividad = document.getElementById("actividades").value;
        actualizarActividades(categoria, departamento, actividad);
    });

    $("#departamentos").change(function () {
        var departamento = document.getElementById("departamentos").value;
        var categoria = document.getElementById("categorias").value;
        var actividad = document.getElementById("actividades").value;
        actualizarActividades(categoria, departamento, actividad);
    });

    $("#actividades").change(function () {
        var departamento = document.getElementById("departamentos").value;
        var categoria = document.getElementById("categorias").value;
        var actividad = document.getElementById("actividades").value;
        actualizarActividades(categoria, departamento, actividad);
    });

    function actualizarActividades(categoria, departamento, actividad) {
        // Realiza una solicitud POST al Servlet con el valor seleccionado.
        $.ajax({
            type: "POST",
            url: "./homeSalidas",
            data: { departamento: departamento, categoria: categoria, actividad: actividad},
            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (salidas) {
                // Procesa la respuesta del Servlet y llena la lista.
                var lista = document.getElementById("salidas");
                
                // Limpia la lista antes de agregar nuevos elementos.
                lista.innerHTML = "";

                if (salidas.length == 0) {
                    var row = document.createElement("div");
                    row.className = "row";

                    var h2 = document.createElement("h2");
                    h2.className = "center-align"
                    h2.innerHTML = "No se encontraron salidas ☹️";

                    row.appendChild(h2)

                    lista.appendChild(row);
                    return;
                }

                salidas.forEach(salida => {
                    // Crea los elementos HTML para cada salida.
                    var row = document.createElement("div");
                    row.className = "row";

                    var col = document.createElement("div");
                    col.className = "col s12 m6 page__card";

                    var card = document.createElement("div");
                    card.className = "card";

                    var cardImage = document.createElement("div");
                    cardImage.className = "card-image";

                    var img = document.createElement("img");
                    img.src = "src/img/blurry-gradient1.svg";
                    img.className = "page__card--img";

                    var title = document.createElement("span");
                    title.className = "card-title page__card--title";
                    title.textContent = salida.nombre;

                    var cardContent = document.createElement("div");
                    cardContent.className = "card-content page__card--contenido";

                    var paragraph = document.createElement("p");
                    paragraph.textContent = salida.lugarSalida;

                    var btnDiv = document.createElement("div");
                    btnDiv.className = "page__card--btns";

                    var btn = document.createElement("button");
                    btn.className = "btn abrirModalBtn";
                    btn.setAttribute("dataSalida", JSON.stringify(salida));
                    btn.textContent = "Consultar";

                    var btnRegistro = document.createElement("button");
                    btnRegistro.className = "btn abrirRegistrar";
                    btnRegistro.setAttribute("dataSalida", JSON.stringify(salida));
                    btnRegistro.textContent = "Resgistrarse";
                    btnRegistro.style.marginLeft = "10px";

                    // Agrupa los elementos en la estructura deseada
                    cardImage.appendChild(img);
                    cardImage.appendChild(title);
                                                                
                    cardContent.appendChild(paragraph);
                    cardContent.appendChild(btnDiv);
                    btnDiv.appendChild(btn);
                    btnDiv.appendChild(btnRegistro);
                                                                
                    card.appendChild(cardImage);
                    card.appendChild(cardContent);
                                                                
                    col.appendChild(card);
                    row.appendChild(col);
                                                                
                    // Agrega la fila al contenedor de salidas
                    lista.appendChild(row);
                });
                
            }
        });
    }   
</script>

  <!-- MATERIALIZE JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- MATERIALIZE LOCAL JS -->
  <script src="src/js/materialize.js"></script>
</body>

</html>